# A comma separated list of access tokens:
ACCESS_TOKENS=<access-tokens>

# RabbitMQ credentials and queues:
AMQP_URL=amqp://hub:<amqp-password>@localhost:5672
AMQP_QUEUE=notifications

# Logging:
LOG_LEVEL=debug
LOG_NAME=notification-hub-api

# Express server:
SERVER_HOST=0.0.0.0
SERVER_PORT=3000
SERVER_SIZE_LIMIT=1mb
