# IMPORTANT: this file is required, more expecificaly this variable, in order to keep container
# names consistent between ansible and manual docker-compose operations
COMPOSE_PROJECT_NAME=<prefix>

# Azure credentials.
AZURE_ORG_URL=<azure-org-url>
AZURE_ACCESS_TOKEN=<azure-access-token>

# Slack credentials.
SLACK_ACCESS_TOKEN=<slack-access-token>

# RabbitMQ
RABBITMQ_PASSWORD=<amqp-password>
