name: Build container image

on:
  push:
  workflow_dispatch:
    inputs:
      PROJECT:
        description: 'Project to build'
        required: true
        type: choice
        options:
          - devops/ansible
          - server/runner
          - server/api

jobs:
  devops-ansible:
    if: ${{ contains(github.event.changes, 'devops/ansible') || inputs.PROJECT == 'devops/ansible' }}
    uses: 7egend/workflows/.github/workflows/build.yml@main
    permissions: write-all
    secrets: inherit
    with:
      DOCKERFILE_PATH: devops/ansible/Dockerfile
      CONTEXT_PATH: devops/ansible

  server-runner:
    if: ${{ contains(github.event.changes, 'server/runner') || inputs.PROJECT == 'server/runner' }}
    uses: 7egend/workflows/.github/workflows/build.yml@main
    permissions: write-all
    secrets: inherit
    with:
      DOCKERFILE_PATH: server/runner/Dockerfile
      CONTEXT_PATH: server/runner
      
  server-api:
    if: ${{ contains(github.event.changes, 'server/api') || inputs.PROJECT == 'server/api' }}
    uses: 7egend/workflows/.github/workflows/build.yml@main
    permissions: write-all
    secrets: inherit
    with:
      DOCKERFILE_PATH: server/api/Dockerfile
      CONTEXT_PATH: server/api
    
