name: Deploy
 
on:
  workflow_dispatch:
    inputs:
      DEPLOY_TARGET:
        required: true
        type: choice
        description: Container image to deploy
        options:
          - server/runner
          - server/api
      VERSION:
        required: false
        type: string
        description: Repository git version
      ENVIRONMENT:
        required: true
        type: choice
        description: Environment target
        options: 
          - production
        
jobs:
  server-runner:
    uses: 7egend/workflows/.github/workflows/deploy.yml@main
    if: ${{ inputs.DEPLOY_TARGET == 'server/runner' }}
    with:
      ROOT_PATH: devops/ansible
      PLAYBOOK: playbooks/${{ inputs.ENVIRONMENT }}/notification-hub/deploy.yaml
      KNOWN_HOSTS_FILE: ${{ vars.KNOWN_HOSTS_FILE }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
      VERSION: ${{ inputs.VERSION }}
    secrets:
      CI_BOT_SSH_PRIVATE_KEY: ${{ secrets.CI_BOT_SSH_PRIVATE_KEY }}
      ANSIBLE_VAULT_PASSWORD: ${{ secrets.VAULT_PASSWORD }}
    