name: --Build and deploy server/runner docker image

on:
  workflow_dispatch:
  push:
    branches:    
      - main
    tags:
      - '*.*.*'
    paths:
      - 'server/runner/**'

jobs:
  build-test-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 6.32.9

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '19'
          cache: 'pnpm'

      - name: Cache pnpm packages
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-pnpm-server-runner
          path: |
            build
      
      - name: pnpm deploy build
        run: pnpm --filter=@7egend/notification-hub-runner --prod deploy build