name: --Build and deploy server/runner docker image

on:
  workflow_dispatch:
  push:
    branches:    
      - main
    tags:
      - '*.*.*'
    paths:
      - 'server/runner/**'

jobs:
  build-test-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install pnpm
        id: pnpm-install
        uses: pnpm/action-setup@v2
        with:
          version: 8.4.0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '19.6.0'
            
      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
  
      - name: Install dependencies
        run: |
          pnpm install
          pnpm -v
          cat pnpm-lock.yaml
        
      # - name: Cache pnpm packages
      #   uses: actions/cache@v3
      #   with:
      #     key: ${{ runner.os }}-pnpm-server-runner
      #     path: |
      #       build
      
      # - name: pnpm deploy build
      #   run: |
      #     pwd
      #     ls -la
      #     pnpm --filter=@7egend/notification-hub-runner --prod deploy build || exit 1
